.slider-1 {
  background-image: url("https://i.ibb.co/DQFkqFL/courtney-cook-Ss-IIw-MET0-E-unsplash.jpg");
  background-size: 100% 100%;
}
.slider-2 {
  background-image: url("https://i.ibb.co/mN8cZK6/jannes-glas-0-Na-QQs-LWLk-A-unsplash.jpg");
  background-size: 100% 100%;
}
